.menu1{
    align-items: center;
    background-color: antiquewhite;
    box-sizing: border-box;
}

h1{align-items: center;
text-align: center;  margin: left;
text-align:center;
font-size: xx-large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color:rgb(240, 89, 89)
}
h2{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
text-transform: capitalize;}
h3{align-items: center;
align-content: center;}
.box2{
    text-align-last: center;
    align-content: center;
    align-self: center;
    align-items: center;
background-color: bisque;
margin-right: 500px;
margin-left: 500px;
height: 350px;
width: 500px;
}
p{
    background-color: rgb(155, 166, 95);
    font-size: xx-large;

}